/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body,
#__next {
    background-color: #f9fafb; /* gray-50 */
    font-family: "Spline Sans", sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: visible;
}

*:not(.chakra-portal *) {
    box-sizing: border-box;
    /* transition: all 0.2s ease; */
}
